.login-container {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    gap: 100px;
  }
  
  .login-box {
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    gap: 50px;
  }
  
  .login-left {
    text-align: center;
    max-width: 500px;
  }
  
  .login-logo {
    width: 300px;
    margin-bottom: 20px;
  }
  
  
  .login-desc {
    color: #6F3C51;
    font-size: 34px;
    font-weight: 600;
    line-height: 1.4;
  }
  
  .login-form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  
  .login-form-box label {
    font-weight: bold;
    margin-top: 12px;
    color: #333;
    font-size: 18px;

  }
  
  .login-form-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 14px;
    width: 90%;
  }

  
  .login-btn {
    background-color: #9b4aa1;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    gap: 50px;
    display: flex;
  }
  
  .login-btn:hover {
    background-color: #842c91;
  }
  
  .login-bottom {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    margin-top: 5px;
    color: #444;
  }

  .login-bottom span {
    cursor: pointer;
    color: #555;
    text-decoration: underline;
  }
  
  .login-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    max-width: 1000px;
    width: 100%;
  }
  
  .login-img-button {
    width: 200px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
  }
  